body {
    background-color: black;
    color: white;
}

.post-title-input {
    box-sizing: border-box;
    display: block;
    width: 300px;
    margin-bottom: 20px;
}

.post-text-input {
    box-sizing: border-box;
    display: block;
    width: 300px;
    margin-bottom: 20px;
}

.new-post-btn {
    box-sizing: border-box;
    width: 300px;
    height: 30px;
}

.row {
    display: flex;
    gap: 30px;
}

.validation-message {
    margin-top: 30px;
    color: red;
}

.validation-message-hidden {
    display: none;
}